In [1]:
import pandas as pd
df=pd.read_csv("whether2.csv")
df

           Period        Short_Desc         Temp
0           Today      Mostly Sunny  High: 40 °F
1         Tonight  IncreasingClouds   Low: 32 °F
2       Wednesday     Mostly Cloudy  High: 44 °F
3  WednesdayNight     Mostly Cloudy   Low: 34 °F
4        Thursday      Mostly Sunny  High: 42 °F
5   ThursdayNight     Partly Cloudy   Low: 32 °F
6          Friday      Partly Sunny  High: 43 °F
7     FridayNight     Partly Cloudy   Low: 30 °F
8        Saturday             Sunny  High: 37 °F

In [10]:
df.iloc[8]

Period           Saturday
Short_Desc          Sunny
Temp          High: 37 °F
Name: 8, dtype: object

In [11]:
data = pd.DataFrame({'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]})
data

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

# Create pandas dataframe from lists using zip

In [15]:
Name = ['tom', 'krish', 'nick', 'juli'] 
Age = [25, 30, 26, 22] 
Mark = [550,610,420,540]
list_of_tuples = list(zip(Name, Age,Mark)) 
# Assign data to tuples. 
list_of_tuples

[('tom', 25, 550), ('krish', 30, 610), ('nick', 26, 420), ('juli', 22, 540)]

In [17]:
df1 = pd.DataFrame(list_of_tuples,columns=['NAME','AGE','MARK'])
df1

    NAME  AGE  MARK
0    tom   25   550
1  krish   30   610
2   nick   26   420
3   juli   22   540